<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiang.lib.fun.frame">

    <application android:theme="@style/AppTheme">
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_fragment_module"></activity>
        <activity
            android:name=".main.MainFrameActivity"
            android:label="@string/title_activity_fragment_module"></activity>
        <activity android:name=".setting.GestureLock.ui.GestureLockOptionGesActivity" />
        <activity android:name=".setting.GestureLock.ui.GestureLockSetGesPwdActivity" />
        <activity android:name=".setting.GestureLock.ui.GestureLockDelGesPwdActivity" />
        <activity
            android:name=".setting.GestureLock.ui.GestureLockCheckGesPwdActivity"
            android:launchMode="singleTask" />
        <activity android:name=".splash.SplashActivity"></activity>
    </application>

</manifest>